In [1]:
# importing the libraries:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('Road_accident.csv')
df

,accident_index,accident_date,day_of_week,junction_control,junction_detail,accident_severity,light_conditions,local_authority,carriageway_hazards,number_of_casualties,number_of_vehicles,police_force,road_surface_conditions,road_type,speed_limit,time,urban_or_rural_area,weather_conditions,vehicle_type
0,BS0000001,01-01-2021,Thursday,Give way or uncontrolled,T or staggered junction,Serious,Daylight,Kensington and Chelsea,NaN,1,2,Metropolitan Police,Dry,One way street,30,15:11,Urban,Fine no high winds,Car
1,BS0000002,05-01-2021,Monday,Give way or uncontrolled,Crossroads,Serious,Daylight,Kensington and Chelsea,NaN,11,2,Metropolitan Police,Wet or damp,Single carriageway,30,10:59,Urban,Fine no high winds,Taxi/Private hire car
2,BS0000003,04-01-2021,Sunday,Give way or uncontrolled,T or staggered junction,Slight,Daylight,Kensington and Chelsea,NaN,1,2,Metropolitan Police,Dry,Single carriageway,30,14:19,Urban,Fine no high winds,Taxi/Private hire car
3,BS0000004,05-01-2021,Monday,Auto traffic signal,T or staggered junction,Serious,Daylight,Kensington and Chelsea,NaN,1,2,Metropolitan Police,Frost or ice,Single carriageway,30,08:10,Urban,Other,Motorcycle over 500cc
4,BS0000005,06-01-2021,Tuesday,Auto traffic signal,Crossroads,Serious,Darkness - lights lit,Kensington and Chelsea,NaN,1,2,Metropolitan Police,Dry,Single carriageway,30,17:25,Urban,Fine no high winds,Car
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307968,BS0307969,18-02-2022,Thursday,Data missing or out of range,Not at junction or within 20 metres,Slight,Daylight,Highland,NaN,2,1,Northern,Dry,Single carriageway,60,07:00,Rural,Fine no high winds,Car
307969,BS0307970,21-02-2022,Sunday,Data missing or out of range,Not at junction or within 20 metres,Slight,Darkness - no lighting,Highland,NaN,1,1,Northern,Frost or ice,Single carriageway,60,03:00,Rural,Fine no high winds,Car
307970,BS0307971,23-02-2022,Tuesday,Give way or uncontrolled,T or staggered junction,Slight,Daylight,Highland,NaN,1,3,Northern,Frost or ice,Single carriageway,30,09:38,Rural,Fine no high winds,Car
307971,BS0307972,23-02-2022,Tuesday,Give way or uncontrolled,T or staggered junction,Serious,Darkness - no lighting,Highland,NaN,1,2,Northern,Wet or damp,Single carriageway,60,18:25,Rural,Fine no high winds,Motorcycle over 500cc
307972,BS0307973,28-02-2022,Sunday,Give way or uncontrolled,T or staggered junction,Serious,Daylight,Highland,Other object on road,1,1,Northern,Wet or damp,Dual carriageway,60,15:45,Rural,Snowing no high winds,Car

In [3]:
# first 5 rows in default:
df.head(5)

,accident_index,accident_date,day_of_week,junction_control,junction_detail,accident_severity,light_conditions,local_authority,carriageway_hazards,number_of_casualties,number_of_vehicles,police_force,road_surface_conditions,road_type,speed_limit,time,urban_or_rural_area,weather_conditions,vehicle_type
0,BS0000001,01-01-2021,Thursday,Give way or uncontrolled,T or staggered junction,Serious,Daylight,Kensington and Chelsea,NaN,1,2,Metropolitan Police,Dry,One way street,30,15:11,Urban,Fine no high winds,Car
1,BS0000002,05-01-2021,Monday,Give way or uncontrolled,Crossroads,Serious,Daylight,Kensington and Chelsea,NaN,11,2,Metropolitan Police,Wet or damp,Single carriageway,30,10:59,Urban,Fine no high winds,Taxi/Private hire car
2,BS0000003,04-01-2021,Sunday,Give way or uncontrolled,T or staggered junction,Slight,Daylight,Kensington and Chelsea,NaN,1,2,Metropolitan Police,Dry,Single carriageway,30,14:19,Urban,Fine no high winds,Taxi/Private hire car
3,BS0000004,05-01-2021,Monday,Auto traffic signal,T or staggered junction,Serious,Daylight,Kensington and Chelsea,NaN,1,2,Metropolitan Police,Frost or ice,Single carriageway,30,08:10,Urban,Other,Motorcycle over 500cc
4,BS0000005,06-01-2021,Tuesday,Auto traffic signal,Crossroads,Serious,Darkness - lights lit,Kensington and Chelsea,NaN,1,2,Metropolitan Police,Dry,Single carriageway,30,17:25,Urban,Fine no high winds,Car

In [4]:
# last 5 rows in default:
df.tail(5)

,accident_index,accident_date,day_of_week,junction_control,junction_detail,accident_severity,light_conditions,local_authority,carriageway_hazards,number_of_casualties,number_of_vehicles,police_force,road_surface_conditions,road_type,speed_limit,time,urban_or_rural_area,weather_conditions,vehicle_type
307968,BS0307969,18-02-2022,Thursday,Data missing or out of range,Not at junction or within 20 metres,Slight,Daylight,Highland,NaN,2,1,Northern,Dry,Single carriageway,60,07:00,Rural,Fine no high winds,Car
307969,BS0307970,21-02-2022,Sunday,Data missing or out of range,Not at junction or within 20 metres,Slight,Darkness - no lighting,Highland,NaN,1,1,Northern,Frost or ice,Single carriageway,60,03:00,Rural,Fine no high winds,Car
307970,BS0307971,23-02-2022,Tuesday,Give way or uncontrolled,T or staggered junction,Slight,Daylight,Highland,NaN,1,3,Northern,Frost or ice,Single carriageway,30,09:38,Rural,Fine no high winds,Car
307971,BS0307972,23-02-2022,Tuesday,Give way or uncontrolled,T or staggered junction,Serious,Darkness - no lighting,Highland,NaN,1,2,Northern,Wet or damp,Single carriageway,60,18:25,Rural,Fine no high winds,Motorcycle over 500cc
307972,BS0307973,28-02-2022,Sunday,Give way or uncontrolled,T or staggered junction,Serious,Daylight,Highland,Other object on road,1,1,Northern,Wet or damp,Dual carriageway,60,15:45,Rural,Snowing no high winds,Car

In [5]:
df.sample()

,accident_index,accident_date,day_of_week,junction_control,junction_detail,accident_severity,light_conditions,local_authority,carriageway_hazards,number_of_casualties,number_of_vehicles,police_force,road_surface_conditions,road_type,speed_limit,time,urban_or_rural_area,weather_conditions,vehicle_type
153662,BS0153663,17-09-2021,Thursday,Data missing or out of range,Not at junction or within 20 metres,Slight,Darkness - no lighting,Aberdeenshire,NaN,1,2,Grampian,Dry,Single carriageway,60,20:20,Rural,Fine no high winds,Car

In [6]:
df.shape

(307973, 19)

In [7]:
df.size

5851487

In [8]:
df.ndim

2

In [9]:
df.iloc[0:1]

,accident_index,accident_date,day_of_week,junction_control,junction_detail,accident_severity,light_conditions,local_authority,carriageway_hazards,number_of_casualties,number_of_vehicles,police_force,road_surface_conditions,road_type,speed_limit,time,urban_or_rural_area,weather_conditions,vehicle_type
0,BS0000001,01-01-2021,Thursday,Give way or uncontrolled,T or staggered junction,Serious,Daylight,Kensington and Chelsea,NaN,1,2,Metropolitan Police,Dry,One way street,30,15:11,Urban,Fine no high winds,Car

In [10]:
df.dtypes.to_frame(name='Data Types')

                        Data Types
accident_index              object
accident_date               object
day_of_week                 object
junction_control            object
junction_detail             object
accident_severity           object
light_conditions            object
local_authority             object
carriageway_hazards         object
number_of_casualties         int64
number_of_vehicles           int64
police_force                object
road_surface_conditions     object
road_type                   object
speed_limit                  int64
time                        object
urban_or_rural_area         object
weather_conditions          object
vehicle_type                object

In [11]:
# feature engineering:
df['accident_date']=pd.to_datetime(df['accident_date'],dayfirst=True)

In [12]:
df.dtypes.to_frame(name='Data Types')

                             Data Types
accident_index                   object
accident_date            datetime64[ns]
day_of_week                      object
junction_control                 object
junction_detail                  object
accident_severity                object
light_conditions                 object
local_authority                  object
carriageway_hazards              object
number_of_casualties              int64
number_of_vehicles                int64
police_force                     object
road_surface_conditions          object
road_type                        object
speed_limit                       int64
time                             object
urban_or_rural_area              object
weather_conditions               object
vehicle_type                     object

<br><br><br><br>

question 1.- current year casualties

In [13]:
# year:
df['year']=df['accident_date'].dt.year

In [14]:
df['year'].value_counts().to_frame()

       count
year
2021  163554
2022  144419

In [15]:
current_year=df['year'].max()
current_year

2022

In [16]:
previous_year=df['year'].min()
previous_year

2021

In [17]:
# current year:
current_year=df['year'].max()
current_year

# previous year:
previous_year=df['year'].min()
previous_year
# current year casualties:
cy_casualties=df[df['year']==current_year]['number_of_casualties'].sum()
print(f"Total current year casualties:{cy_casualties}")

cy_casualties=df[df['year']==previous_year]['number_of_casualties'].sum()
print(f"Total previous year casualties:{cy_casualties}")

Total current year casualties:195737
Total previous year casualties:222146

<br><br>

question 2 . Fatal casualties

In [18]:
df.accident_severity.value_counts()

accident_severity
Slight     263280
Serious     40740
Fatal        3953
Name: count, dtype: int64

In [19]:
cy_fatal_casualties=df[(df['year']==current_year) & (df['accident_severity'].str.lower()=='fatal')]['number_of_casualties'].sum()
print(f"Total fatal casualties in current year:{cy_fatal_casualties}")

cy_fatal_casualties=df[(df['year']==previous_year) & (df['accident_severity'].str.lower()=='fatal')]['number_of_casualties'].sum()
print(f"Total fatal casualties in previous year year:{cy_fatal_casualties}")

Total fatal casualties in current year:2855
Total fatal casualties in previous year year:4280

<br><br>

- question
2. CY â€“ Fatal Casualties - 2022
3. CY â€“ Serious Casualties -2022
4. CY â€“ Slight Casualties â€“ 2022

In [20]:
# fatal current year
cy_fatal_casualties=df[(df['year']==current_year) & (df['accident_severity'].str.lower()=='fatal')]['number_of_casualties'].sum()
print(f"Total fatal casualties in current year:{cy_fatal_casualties}")
# fatal previous year
py_fatal_casualties=df[(df['year']==previous_year) & (df['accident_severity'].str.lower()=='fatal')]['number_of_casualties'].sum()
print(f"Total fatal casualties in previous year year:{py_fatal_casualties}")
print('-'*55)

# slight current year
cy_slight_casualties=df[(df['year']==current_year) & (df['accident_severity'].str.lower()=='slight')]['number_of_casualties'].sum()
print(f"Total slight casualties in current year:{cy_slight_casualties}")
# slight previous year
py_slight_casualties=df[(df['year']==previous_year) & (df['accident_severity'].str.lower()=='slight')]['number_of_casualties'].sum()
print(f"Total slight casualties in previous year year:{py_slight_casualties}")
print('-'*55)

# serious current year
cy_serious_casualties=df[(df['year']==current_year) & (df['accident_severity'].str.lower()=='serious')]['number_of_casualties'].sum()
print(f"Total serious casualties in current year:{cy_serious_casualties}")
# serious previous year
py_serious_casualties=df[(df['year']==previous_year) & (df['accident_severity'].str.lower()=='serious')]['number_of_casualties'].sum()
print(f"Total serious casualties in previous year:{py_serious_casualties}")
print('-'*55)

Total fatal casualties in current year:2855
Total fatal casualties in previous year year:4280
-------------------------------------------------------
Total slight casualties in current year:165837
Total slight casualties in previous year year:185599
-------------------------------------------------------
Total serious casualties in current year:27045
Total serious casualties in previous year:32267
-------------------------------------------------------

In [21]:
Data = {
    'current year fatal casualties':cy_fatal_casualties,
    'current year slight casualties':cy_slight_casualties,
    'current year serious casualtie':cy_serious_casualties,
    'previous year fatal casualties':py_fatal_casualties,
    'previous year slight casualties':py_slight_casualties,
    'previous year serious casualtie':py_serious_casualties
}
dataframe=pd.DataFrame(data=Data,index=['0'])
dataframe

,current year fatal casualties,current year slight casualties,current year serious casualtie,previous year fatal casualties,previous year slight casualties,previous year serious casualtie
0,2855,165837,27045,4280,185599,32267

In [22]:
data ={
    'category':['current year fatal casualties',
                'current year slight casualties',
                'current year serious casualties',
                'previous year fatal casualties',
                'previous year slight casualties',
                'previous year serious casualties'],
    'count':[cy_fatal_casualties,cy_slight_casualties,cy_serious_casualties,
             py_fatal_casualties,py_slight_casualties,py_serious_casualties]
}

dataframe=pd.DataFrame(data)
dataframe

                           category   count
0     current year fatal casualties    2855
1    current year slight casualties  165837
2   current year serious casualties   27045
3    previous year fatal casualties    4280
4   previous year slight casualties  185599
5  previous year serious casualties   32267

In [23]:
df.columns

Index(['accident_index', 'accident_date', 'day_of_week', 'junction_control',
       'junction_detail', 'accident_severity', 'light_conditions',
       'local_authority', 'carriageway_hazards', 'number_of_casualties',
       'number_of_vehicles', 'police_force', 'road_surface_conditions',
       'road_type', 'speed_limit', 'time', 'urban_or_rural_area',
       'weather_conditions', 'vehicle_type', 'year'],
      dtype='object')

In [24]:
round(df['accident_severity'].value_counts(normalize=True).to_frame()*100,2).astype(str)+ '%'

                  proportion
accident_severity
Slight                85.49%
Serious               13.23%
Fatal                  1.28%

In [25]:
percentage=(
    df.groupby('accident_severity')['number_of_casualties'].sum()/df['number_of_casualties'].sum()
)*100
percentage.sort_values(ascending=False).round(2).to_frame().astype(str)+ '%'

                  number_of_casualties
accident_severity
Slight                           84.1%
Serious                         14.19%
Fatal                            1.71%

In [26]:
# vehicle type - total number of casualties
vehicle_casualties =(
    df.groupby('vehicle_type')['number_of_casualties'].sum()
    .reset_index()
)
vehicle_casualties

                             vehicle_type  number_of_casualties
0                    Agricultural vehicle                  1032
1    Bus or coach (17 or more pass seats)                 11710
2                                     Car                325922
3           Goods 7.5 tonnes mgw and over                  8770
4         Goods over 3.5t. and under 7.5t                  3404
5        Minibus (8 - 16 passenger seats)                  1088
6              Motorcycle 125cc and under                  9109
7               Motorcycle 50cc and under                  4945
8   Motorcycle over 125cc and up to 500cc                  4467
9                   Motorcycle over 500cc                 15151
10                          Other vehicle                  3329
11                            Pedal cycle                    92
12                           Ridden horse                     3
13                  Taxi/Private hire car                  7563
14    Van / Goods 3.5 tonnes mgw or under                 21298

In [27]:
def vehicle(v):
    if any(x in v for x in ['Taxi/Private hire car','Car']):
        return 'car'
    elif any(x in v for x in ['Motorcycle 50cc and under','Motorcycle 125cc and under','Motorcycle over 125cc and up to 500cc','Motorcycle over 500cc']):
        return 'Bikes'
    elif any(x in v for x in ['Bus or coach (17 or more pass seats)','Minibus (8 - 16 passenger seats)']):
        return 'Bus'
    elif any(x in v for x in ['Goods 7.5 tonnes mgw and over','Goods over 3.5t. and under 7.5t','Van / Goods 3.5 tonnes mgw or under']):
        return 'Van'
    elif any(x in v for x in ['Agricultural vehicle']):
        return 'Agricultural vehicle'
    else:
        return 'Other Vechicle'

# create a new column
df['vehicle_group']=df['vehicle_type'].map(vehicle)

In [28]:
df.head(5)

,accident_index,accident_date,day_of_week,junction_control,junction_detail,accident_severity,light_conditions,local_authority,carriageway_hazards,number_of_casualties,...,police_force,road_surface_conditions,road_type,speed_limit,time,urban_or_rural_area,weather_conditions,vehicle_type,year,vehicle_group
0,BS0000001,2021-01-01,Thursday,Give way or uncontrolled,T or staggered junction,Serious,Daylight,Kensington and Chelsea,NaN,1,...,Metropolitan Police,Dry,One way street,30,15:11,Urban,Fine no high winds,Car,2021,car
1,BS0000002,2021-01-05,Monday,Give way or uncontrolled,Crossroads,Serious,Daylight,Kensington and Chelsea,NaN,11,...,Metropolitan Police,Wet or damp,Single carriageway,30,10:59,Urban,Fine no high winds,Taxi/Private hire car,2021,car
2,BS0000003,2021-01-04,Sunday,Give way or uncontrolled,T or staggered junction,Slight,Daylight,Kensington and Chelsea,NaN,1,...,Metropolitan Police,Dry,Single carriageway,30,14:19,Urban,Fine no high winds,Taxi/Private hire car,2021,car
3,BS0000004,2021-01-05,Monday,Auto traffic signal,T or staggered junction,Serious,Daylight,Kensington and Chelsea,NaN,1,...,Metropolitan Police,Frost or ice,Single carriageway,30,08:10,Urban,Other,Motorcycle over 500cc,2021,Bikes
4,BS0000005,2021-01-06,Tuesday,Auto traffic signal,Crossroads,Serious,Darkness - lights lit,Kensington and Chelsea,NaN,1,...,Metropolitan Police,Dry,Single carriageway,30,17:25,Urban,Fine no high winds,Car,2021,car

In [29]:
vehicle_casualties= (
    df.groupby('vehicle_group')['number_of_casualties'].sum()
)
vehicle_casualties.sort_values(ascending=False).to_frame()

                      number_of_casualties
vehicle_group
car                                 333485
Bikes                                33672
Van                                  33472
Bus                                  12798
Other Vechicle                        3424
Agricultural vehicle                  1032

<br><br>

CY- CURRENT MONTH TREND

In [30]:
current_year

2022

In [31]:
df.columns

Index(['accident_index', 'accident_date', 'day_of_week', 'junction_control',
       'junction_detail', 'accident_severity', 'light_conditions',
       'local_authority', 'carriageway_hazards', 'number_of_casualties',
       'number_of_vehicles', 'police_force', 'road_surface_conditions',
       'road_type', 'speed_limit', 'time', 'urban_or_rural_area',
       'weather_conditions', 'vehicle_type', 'year', 'vehicle_group'],
      dtype='object')

In [32]:
monthly_trend=df[df['year']==current_year].groupby(
    df['accident_date'].dt.month_name()
)['number_of_casualties'].sum()
monthly_trend.sort_values(ascending=False).to_frame()

               number_of_casualties
accident_date
November                      18439
October                       18287
September                     17500
June                          17230
July                          17201
August                        16796
May                           16775
March                         16575
April                         15767
February                      14804
December                      13200
January                       13163

In [33]:
monthly_trend=df[df['accident_date'].dt.year==2022].groupby(
    df['accident_date'].dt.month_name()
)['number_of_casualties'].sum()
monthly_trend.sort_values(ascending=False).to_frame()

               number_of_casualties
accident_date
November                      18439
October                       18287
September                     17500
June                          17230
July                          17201
August                        16796
May                           16775
March                         16575
April                         15767
February                      14804
December                      13200
January                       13163

<br><br>

Types of road - Total number of casualties

In [34]:
df.columns

Index(['accident_index', 'accident_date', 'day_of_week', 'junction_control',
       'junction_detail', 'accident_severity', 'light_conditions',
       'local_authority', 'carriageway_hazards', 'number_of_casualties',
       'number_of_vehicles', 'police_force', 'road_surface_conditions',
       'road_type', 'speed_limit', 'time', 'urban_or_rural_area',
       'weather_conditions', 'vehicle_type', 'year', 'vehicle_group'],
      dtype='object')

In [35]:
road_type=(
    df.groupby('road_type')['number_of_casualties'].sum()
    .sort_values(ascending=False)
)
road_type.to_frame()

                    number_of_casualties
road_type
Single carriageway                309698
Dual carriageway                   67368
Roundabout                         26828
One way street                      7389
Slip road                           6600

In [36]:
df.columns

Index(['accident_index', 'accident_date', 'day_of_week', 'junction_control',
       'junction_detail', 'accident_severity', 'light_conditions',
       'local_authority', 'carriageway_hazards', 'number_of_casualties',
       'number_of_vehicles', 'police_force', 'road_surface_conditions',
       'road_type', 'speed_limit', 'time', 'urban_or_rural_area',
       'weather_conditions', 'vehicle_type', 'year', 'vehicle_group'],
      dtype='object')

In [37]:
area_total=(
    df.groupby('urban_or_rural_area')['number_of_casualties'].sum()
)
area_percentage=round((area_total/area_total.sum())*100,2).astype(str)+' %'
area_percentage

df_area=pd.concat([area_total,area_percentage],axis=1)
df_area

                    number_of_casualties number_of_casualties
urban_or_rural_area
Rural                             162019              38.77 %
Urban                             255864              61.23 %

In [38]:
df.light_conditions.value_counts().to_frame('count_of_casualties')

                             count_of_casualties
light_conditions
Daylight                                  227286
Darkness - lights lit                      60093
Darkness - no lighting                     16528
Darkness - lighting unknown                 2924
Darkness - lights unlit                     1142

In [39]:
def light_mapping(v):
    if any(x in v for x in ['Daylight']):
        return 'Day'
    else:
        return 'Night'

In [40]:
df['light_cond']=df['light_conditions'].map(light_mapping)

In [41]:
light_cond=(
    df.groupby('light_cond')['number_of_casualties'].count()
    .sort_values(ascending=False)
)
light_cond.to_frame('Count_of_casualties')

            Count_of_casualties
light_cond
Day                      227286
Night                     80687

In [42]:
light_cond=(
    df.groupby('light_cond')['number_of_casualties'].sum()
)
percentage =round((light_cond/light_cond.sum())*100,2).astype(str)+' %'
df_light=pd.concat([light_cond,percentage],axis=1,keys=['Total number of casualties','percentage(%)'])
df_light

            Total number of casualties percentage(%)
light_cond
Day                             304963       72.98 %
Night                           112920       27.02 %

top 10 local authority with highest total number of casualties

In [43]:
df.columns

Index(['accident_index', 'accident_date', 'day_of_week', 'junction_control',
       'junction_detail', 'accident_severity', 'light_conditions',
       'local_authority', 'carriageway_hazards', 'number_of_casualties',
       'number_of_vehicles', 'police_force', 'road_surface_conditions',
       'road_type', 'speed_limit', 'time', 'urban_or_rural_area',
       'weather_conditions', 'vehicle_type', 'year', 'vehicle_group',
       'light_cond'],
      dtype='object')

In [44]:
local_authority= (
    df.groupby('local_authority')['number_of_casualties'].sum()
    .sort_values(ascending=False)
)
local_authority.head(10).to_frame('top 10 casualties')

                 top 10 casualties
local_authority
Birmingham                    8611
Leeds                         5821
Bradford                      4431
Manchester                    4366
Liverpool                     4052
Cornwall                      3820
Sheffield                     3737
Kirklees                      3312
County Durham                 3295
Westminster                   3169

In [45]:
local_authority= (
    df.groupby('local_authority')['number_of_casualties'].sum()  # using nlargest method
    
)
local_authority.nlargest(10).to_frame('top 10 casualties')

                 top 10 casualties
local_authority
Birmingham                    8611
Leeds                         5821
Bradford                      4431
Manchester                    4366
Liverpool                     4052
Cornwall                      3820
Sheffield                     3737
Kirklees                      3312
County Durham                 3295
Westminster                   3169